<%= render 'nav' %>
<main>
	<section id="splash">
		<%= image_tag("die_hard_logo_big.png", width: "100%") %>
	</section>

	<section id="about">
		<h1>ABOUT</h1>
		<p>This is the Die Hard movie series page! Keep reading if you want to learn more about the adventures of John McClane.</p>
		<p>Enjoy! And whenever you're unsure of what to do, just ask yourself: WWJMD (What Would John McClane Do) ?</p>
	</section>

	<section id="movies">
		<h1>MOVIES</h1>

		<div class="container-fluid">
			<% @movies.each_index do |i| %>
			<% if i.even? %>
			<div class="row">
			<% end %>
			<% movie = @movies[i] %>
				<div id="movie_<%= i.to_s %>" class="col-md-6 movie">
					<h2><%= movie[:title] %> (<%= movie[:year].to_s %>)</h2>
					<%= image_tag(movie[:poster_image], class: "poster_image") %>
					<p><%= movie[:synopsis] %></p>
					<p>
						Heroes: 
						<% movie[:heroes].each_index do |j| %>
						<% hero = movie[:heroes][j] %>
						<% if j > 0 %>,<% end %>
						<%= link_to hero[:name], hero[:link] %>
						<% end %>
					</p>
					<p>
						Villains: 
						<% movie[:villains].each_index do |j| %>
						<% villain = movie[:villains][j] %>
						<% if j > 0 %>,<% end %>
						<%= link_to villain[:name], villain[:link] %>
						<% end %>
					</p>
				</div>
			<% if i.odd? %>
			</div>
			<% end %>
			<% end %>
		</div>
	</section>

	<% char_lists = { 
		"heroes" => @heroes, 
		"villains" => @villains
	} %>

	<% char_lists.each do |key, char_list| %>
	<section id="<%= key %>">
		<h1><%= key.upcase %></h1>

		<div class="container-fluid">
			<% char_list.each_index do |i| %>
			<% if i.even? %>
			<div class="row">
			<% end %>
			<% character = char_list[i] %>
				<div id="<%= character[:id] %>" class="col-md-6 character">
					<h2><%= character[:name] %></h2>
					<%= image_tag(character[:image], class: "portrait") %>
					<p><%= character[:description] %></p>
					<p>
						Movies: 
						<% character[:movies].each_index do |j| %>
						<% movie = character[:movies][j] %>
						<% if j > 0 %>,<% end %>
						<%= link_to movie[:title], movie[:link] %>
						<% end %>
					</p>
				</div>
			<% if i.odd? %>
			</div>
			<% end %>
			<% end %>
		</div>
	</section>
	<% end %>

</main>>